.container.about{
   margin-top: -70px;
}

.content.about{
    margin-left: 80px;
}

.description.about{
    margin-top: 20px;
}
.description.about h2{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fc5;
    letter-spacing: 0.5px;
}

.description.about p{
    line-height: 2;
    letter-spacing: 0.3px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #fff;
    margin-top: 70px;
    width: 90vh;
    height: 70vh;
    float: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: slide 20s infinite;

}

.image-container:hover{
    cursor: pointer;
}

@keyframes slide {
    0%{
        background-image: url(../images/care.png);
    }
    20%{
        background-image: url(../images/care.png);
    }
    20.01%{
        background-image: url(../images/velvetvinos.jpg);
    }
    40%{
        background-image: url(../images/velvetvinos.jpg);
    }
    40.01%{
        background-image: url(../images/chicco.jpg);
    }
    60%{
        background-image: url(../images/chicco.jpg);
    }
    60.01%{
        background-image: url(../images/bamboo.jpg);
    }
    80%{
        background-image: url(../images/bamboo.jpg);
    }
    80.01%{
        background-image: url(../images/beats.jpg);
    }
    100%{
        background-image: url(../images/beats.jpg);
    }
}