/* .container.home{
    
} */

.description{
    border-top: 1px solid #fff;
    margin-top: 80px;
    width: 90vh;
    
}

.description p{
    font-size: 15px;
    color: #fff;
    line-height: 1.5;
    margin-top: 15px;
}

h1{
    font-size: 50px;
    color: #fff;
    
}

#typewriter{
    color: #fc5;
    font-weight: bold;
}

