nav{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 70px;
    width: 100%;
    position:fixed;
    z-index: 20;
}

.logo{
    float: left;
    margin-left: 20px;
    margin-top: 15px;  
    text-decoration: none;  
}
.logo :hover{
    color: #fc5a8d;
}
.logo span{
    color: #fff;
    font-size: 25px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}


nav ul {
    float: right;
    margin-right: 100px;
   
}

nav ul li {
    display: inline-block;   
    line-height: 60px;
    margin: 0 5px;
    
}
nav ul li a {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 400;
    padding: 7px 20px;
    border-radius: 3px;
    color: #fff; 
    text-decoration: none;  
}
nav ul li a:hover{
    color: #fc5a8d;
    transition: 1s;
}

.quote{
   
    cursor: pointer;
    color:#fff;
    height: 40px;
    width: 125px;
    text-transform: capitalize;
    font-size: 15px;
    margin-left: 50px;
    transition: all 250ms ease-in-out;
    font-weight: 400;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 9999px;
}

.quote:hover{
    color: #fc5a8d; 
}

  .dropdown .dropbtn {
    color:#fff;
    background: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: none;
    outline: none;  
  }

  .dropdown .dropbtn:hover{
    color: #fc5a8d;
  }

  .dropdown .dropbtn i{
    padding: 5px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background:transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  } 
  .dropdown-content a {
    float: none;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: left;
  }
    .dropdown-content a:hover {
        color: #fc5a8d;
    }
    .dropdown:hover .dropdown-content {
        display: block;
        line-height: 1.8;
    } 
    


