.container.portfolio{
    margin-top: 330px;
    display: flex;
    flex-direction: column;
}
.description.portfolio{
    margin-top: 10px;
}
.content.portfolio{
    margin-left: 0px;
}

.portfoliocards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 190vh;
    margin-top: 40px;
    gap: 1px;
}
.view-button{
  margin-left: 700px;
}

