.image-bg{
    background: #0d2241;
    overflow: hidden;
    position: relative;   
}
.image-bg img{
    width: 100%;
    opacity: 0.3;
   
}
.image-bg:hover{
   background: none;
}
.image-bg img:hover{
    transform: scale(1.05);
    opacity: 1;
 }
.card-details{
    position: absolute;
    margin-top: -100px;
    margin-left: 30px;
    color: #fff;
}
.card-details h3{
    font-size:18px;
    font-weight: 600;
    text-transform: capitalize;
}
.card-details span{
    font-size: 10px;
    word-spacing: 2px;
}
.float-on-hover{
    color: #0d2241;
    font-weight: 800;
    margin-left: 280px;
    background-color: #fc5;
    padding: 5px 15px;
    border-radius: 9999px;
}
.float-on-hover:hover{
    color: #fc5;
    background-color: #0d2241;
    transition: 1s;
}

