@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  max-width: 1330px; 
  background-color: #0d2241;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.content{
  margin-top: 50px;
  margin-left: -600px;
  line-height: 1.2;
}

.description{
  border-top: 1px solid #fff;
  margin-top: 80px;
  width: 90vh; 
}
.description::first-letter{
  text-transform: uppercase;
}

.awesome-button{
  cursor: pointer;
  color:#fff;
  height: 40px;
  width: 125px;
  text-transform: capitalize;
  font-size: 15px;
  margin-left: 50px;
  transition: all 250ms ease-in-out;
  font-weight: 400;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 9999px;
}
.awesome-button:hover{
  border: 1px solid #fc5;
  background-color: #fc5;
  color: #0d2241;
  font-weight: 500;
  transition: all .5s ease-in-out;
}

